
@tailwind base;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@tailwind components;

.multiselect-dropdown-list{
  @apply max-h-fit;
  
}
.select2-container {
	/* The container where the selectbox is housing*/
	@apply relative box-border align-middle inline-block m-0 mb-0;
}
	.select2-container .select2-selection--single {
		/* Selection box itself */
		@apply box-border cursor-pointer block select-none  rounded text-sm flex items-center pt-2 ;
	}

		.select2-container .select2-selection--single .select2-selection__rendered {
			/* DIV inside Selection box with text, clear button and arrow down*/
			@apply block h-6 pl-1 pr-2 truncate  ;
		}
		.select2-container .select2-selection--single .select2-selection__clear {
			/* The DIV where the X is housing to clear the chosen option */
			@apply relative -m-1;
		}
	.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
		/*@apply;*/
    @apply flex items-end font-light
	}
	
	.select2-container .select2-selection--multiple {
		@apply box-border overflow-hidden h-4 cursor-pointer block select-none;
	}

	.select2-container .select2-selection--multiple .select2-selection__rendered {
		@apply inline-block pl-2 truncate whitespace-nowrap;
	}
	.select2-container .select2-search--inline {
		/* Search box*/
		@apply float-left;
	}
		.select2-container .select2-search--inline .select2-search__field {
			@apply box-border border pl-1 my-1 w-full text-base;
		}
			.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
				@apply appearance-none;
			}

.select2-dropdown {
	/* Dropdown area after the arrow down is clicked */
 	@apply absolute block w-auto box-border bg-white border-solid border border-gray-200 z-50 float-left;
}

.select2-results {
	@apply block px-2 text-black ;
}

.select2-results__options {
	@apply list-none m-0 p-0  text-sm;
}

.select2-results__option {
	/* The rows with results that you see after dropdown.
	Increase p-1 to p-2 to have more space between results */
	@apply py-2 select-none border-b;
}
	.select2-results__option[aria-selected] {
    	@apply cursor-pointer pr-2 font-extralight text-xs ;
    }

.select2-container--open .select2-dropdown {
	/* Dropdown container opened and results are shown*/
	@apply mt-1 left-0;
}

.select2-container--open .select2-dropdown--above {
	/* The left and right borders of the option rows */
	@apply rounded border-gray-400 dark:border-gray-700 shadow;
}

.select2-container--open .select2-dropdown--below {
	/* The left and right borders of the option rows */
	@apply rounded border-gray-400 dark:border-gray-700 shadow;
}

.select2-search--dropdown {
	/* Search dropdown element*/
	@apply block p-2;
}
	.select2-search--dropdown .select2-search__field {
		/* Search box itself where you can enter text*/
		@apply h-10 p-1 bg-white dark:bg-slate-500 box-border rounded border-2 border-blue-300 dark:border-gray-700 dark:text-gray-200 outline-none;
		width: 100%;
	}
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
		@apply appearance-none;
	}
.select2-search--dropdown.select2-search--hide {
	@apply hidden;
}

.select2-close-mask {
	@apply block w-12 min-w-full m-0 p-0;
	border: 0;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: #fff;
	filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }


/* 

	Default template settings:

*/

.select2-container--default .select2-selection--single {
	/* Selection bar - Self */
	@apply pb-3 px-2 border border-gray-200 outline-none bg-white dark:bg-slate-700  dark:border-gray-700 rounded-[40px]; 
}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
	  	/* Selection bar - Text color of the item you selected from the results */
	    @apply text-gray-700 dark:text-gray-200;
	}
	
	.select2-container--default .select2-selection--single .select2-selection__clear {
		/* Selection bar - Clear button - If this property is enabled*/
    	@apply cursor-pointer float-right text-red-700;
	}
	.select2-container--default .select2-selection--single .select2-selection__placeholder {
    	/* Selection bar - Color of the placeholder text before selection - If this property is enabled */
    	@apply text-gray-600 dark:text-gray-300 font-thin text-sm;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		/* Selection bar - DIV where the arrow pointing down is living*/
		@apply absolute right-0 top-0 h-10 w-8;
	}
	    .select2-container--default .select2-selection--single .select2-selection__arrow b {
	    	/* Arrow is a CSS triangle that does not exists in Tailwind without a package */
			@apply absolute border-solid h-0 w-0 border-t-4 border-r-4 border-b-0 border-l-4;
			border-color: #000 transparent transparent transparent;
			left: 50%;
			margin-left: -4px;
			margin-top: -2px;
			top: 50%;
		}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
	/* Selection bar - Clear button - If this property is enabled from right to left*/
	@apply float-left ml-4;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	/* Placement of the dropdown arrow when in rtl mode */
	@apply top-1 left-0 right-auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
	/* Selection by property disabled*/
	@apply cursor-default bg-gray-300;
}
	.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
		/* Selection bar - Hide the clear cross when selection bar is disabled*/
		@apply hidden;
	}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #888 transparent;
	border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
	@apply p-1 min-h-full h-full border border-solid dark:border-gray-700 rounded shadow bg-white dark:bg-slate-700; 
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	@apply box-border list-none m-0 px-1 min-w-full;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
   @apply list-none;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    @apply float-right cursor-pointer mt-1 mr-2 p-1;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    @apply bg-white dark:bg-slate-700 text-gray-700 dark:text-gray-200 border cursor-default rounded my-1 mr-1 px-2 float-left;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	@apply text-gray-700 dark:text-gray-200 cursor-pointer inline-block mr-1;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    @apply text-gray-700 dark:text-gray-200;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    @apply border-2 outline-none;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
	@apply hidden;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
	@apply bg-gray-300 border-2 dark:border-gray-700 shadow rounded float-left cursor-default mt-1 mr-1 px-1;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	/* The border of the search textbox */
	@apply border-solid;
}

.select2-container--default .select2-search--inline .select2-search__field {
	/* Search textbox */
  @apply border-none bg-transparent outline-none shadow-none select-text;
}

.select2-container--default .select2-results > .select2-results__options {
	/* Hight of the dropdown zone where the options or results are visible */
	@apply h-full max-h-32 overflow-y-auto;
}

.select2-container--default .select2-results__option[role=group] {
	/* No clue what this does */
	@apply p-0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
	@apply text-gray-700; 
}

.select2-container--default .select2-results__option[aria-selected=true] {
	/* The already selected option row color */
	@apply bg-gray-300 dark:text-gray-700;
}
.select2-results__option--selected {
	@apply hidden;
}
.select2-container--default .select2-results__option .select2-results__option {
	padding-left: 1em; 
}
	.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
		padding-left: 0;
	}
		.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
			margin-left: -1em;
			padding-left: 2em;
		}
			.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
				margin-left: -2em;
				padding-left: 3em;
			}
				.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
					margin-left: -3em;
					padding-left: 4em;
				}
					.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
						margin-left: -4em;
						padding-left: 5em;
					}
						.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
							margin-left: -5em;
							padding-left: 6em;
						}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	/* Background color and text color of the options rows when select is open */
	@apply bg-gray-100 dark:bg-gray-500 text-gray-700 dark:text-gray-200;
}

.select2-container--default .select2-results__group {
	/* Have no idea what this is for */
  @apply cursor-default block;
  padding: 6px; }
@tailwind utilities;

@layer utilities {

  
    .scrollbar::-webkit-scrollbar {
      width: 7px;
      
      /* height: 16px; */
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 0vh;
      background: white;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #8c92ac;
      border-radius: 100vh;
      /* border: 3px solid #f6f7ed; */
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #737992;
      
    }
  }


  .multiselect-dropdown{
    width: 100%;
    display: flex;
    padding: 10px 2.5px 5px 2.5px;
    border-radius: 12px 12px 0 0;
    border-bottom: solid 2px #ced4da;
    background-color: white;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px 12px;
  }

  /* @media screen and (max-width: 767px) {
    .multiselect-dropdown{
      width: 100%;
      display: flex;
      padding: 0;
      border-radius: 0;
      border-bottom: none;
      background-color: white;
      position: relative;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: left .75rem center;
      background-size: 16px 12px;
    }
  
  } */


  .multiselect-dropdown {
    width: 100%;
    display: flex;
    padding: 10px 2.5px 5px 2.5px;
    border-radius: 40px;
    border: solid 1px rgb(229, 231, 235);
    background-color: white;
    position: relative;
    
    background-size: 16px 12px;
}

  .multiselect-dropdown span.optext, .multiselect-dropdown span.placeholder{
    margin-right:0.5em; 
    margin-bottom:5px;
    border-radius: 8px; 
    display:flex;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 100;
  }
  .multiselect-dropdown span.optext{
    margin-bottom:0;
    background-color: #E0E4EB;
    padding:2px 0.75em 0 1px; 
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    .multiselect-dropdown span.optext{
      font-size: 0.25rem;
    }
  
  }
  .multiselect-dropdown span.optext .optdel {
    float: right;
    margin: 0 2px 0 5px;
    font-size: 0.7em;
    margin-top: 2px;
    cursor: pointer;
    color: #666;
  }
  .multiselect-dropdown span.optext .optdel:hover { color: #c66;}
  .multiselect-dropdown span.placeholder{
    color:#646464;
    font-size: 0.90rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  
  .multiselect-dropdown-list-wrapper{
    /* box-shadow: gray 0 3px 8px; */
    z-index: 100;
    padding:2px;
    border-radius: 4px;
    border: solid 1px #ced4da;
    display: none;
    margin: -1px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background: white;
  }



  .multiselect-dropdown-list-wrapper .multiselect-dropdown-search{
    margin-bottom:5px;
    padding: 10px 20px;
    font-weight: 200;
  
  }

  .multiselect-dropdown-search {
    font-size: 1rem;
    outline-color:#F5F7FA ;
    outline-offset: -5px;
  }
  .multiselect-dropdown-search::placeholder {
    font-size: 1rem;
  }



  .multiselect-dropdown-list{
    padding:2px;
    overflow-y:auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    
    
  }
  .multiselect-dropdown-list::-webkit-scrollbar {
    width: 6px;
    
  }
  .multiselect-dropdown-list::-webkit-scrollbar-thumb {
    background-color: #bec4ca;
    border-radius:3px;
    
  }
  
  .multiselect-dropdown-list div{
    padding: 5px;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    
  }
  .multiselect-dropdown-list input{
    height: 1em;
    width: 1em;
    margin-right: 0.35em; 
    margin-left: 0.35em;   
    cursor: pointer;
    
    
   
  }
  .multiselect-dropdown-list div.checked{

    
  }
  .multiselect-dropdown-list div:hover{
    background-color: #ced4da;
  }
  .multiselect-dropdown span.maxselected {
    padding: 3px 5px;
    width:100%;}
  .multiselect-dropdown-all-selector {
    display: flex;
    align-items: center;
    
    border-bottom:solid 1px #999;
    cursor: pointer;
    
  
  }
  
  .multiselect-dropdown-all-selector label{
  
    cursor: pointer;
    
  }


  
  @media screen and (max-width: 767px){
  .multiselect-dropdown span.optext {

  
      font-size: 1rem;
    }}


    .navbar-menu{

      transform: translate(100%, 0);
        
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    .navbar-menu.active{
      
        transform: translate(0, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }
    
    
      
      .nav-home.active {
    
        width: 80px;
    
      }
    

      .otp-field {
        display: flex;
    }
    
    .otp-field input {
        width: 45px;
        font-size: 28px;
        padding: 2px;
        text-align: center;
        border-radius: 5px;
        margin: 2px;
        border: 2px solid #d3d3d3;
        color: #1b1b1b;
        outline: none;
        transition: all 0.1s;
    }
    
    .otp-field input:focus {
        border: 2px solid hsl(258, 76%, 40%);
        box-shadow: 0 0 2px 2px hsl(258, 64%, 47%);
    }
    

    /* -------------------- جدول --------------------  */
    table.dataTable thead .sorting {
      font-weight: 400;
  }

  .disable_btn{
    @apply bg-opacity-50 cursor-default 
}